themes {
  glats {
    bg "#000000"
    fg "#e0e0e0"
    red "#cc0403"
    green "#19cb00"
    yellow "#cecb00"
    blue "#0d73cc"
    magenta "#cb1ed1"
    cyan "#0dcdcd"
    black "#000000"
    white "#ffffff"
    orange "#ff8800"
  }
}
